%align-items{
    display: flex;
    align-items: center;
}
%align-items-jc{
    display: flex;
    align-items: center;
    justify-content: center;
}
%df-jc{
    display: flex;
    justify-content: center;
}
%djat{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}